<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
  <%= render partial: 'books/sidebar', locals:{ user: @user, book: @book } %>

<div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
			  <tr>
				  <th></th>
			    <th>Title</th>
			    <th>Opinion</th>
			  </tr>
		   </thead>
		   <% @books.each do |book| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
              <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
              <%= book.title %>
              <% end %>
              <%= book.start_time.strftime("%Y-%m-%d %H:%M") %>
            </td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
       </table>
       <div class= 'calender'>
            <%= month_calendar events: @books do |date, books| %>
                <%= date.day %>
                <% books.each do |book| %>
                  <div><%= book.title %></div>
                <% end %>
            <% end %>
        </div>
    </div>
  </div>
</div>