<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
   
    <%= render partial: 'books/sidebar', locals:{ user: @user, book: @newbook } %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
              <br><%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
              <%= @book.title %>
              <%end%>
            </td>
            <td><%= @book.body %></td>
            
          <% if @book.favorited_by?(current_user) %>
            <td>
              <%= link_to book_favorites_path(@book), method: :delete do %>
                ♥<%= @book.favorites.count %> 
              <% end %>
            </td>
          <% else %>
            <td>
              <%= link_to book_favorites_path(@book), method: :post do %>
                ♡<%= @book.favorites.count %> 
              <% end %>
            </td>
          <% end %>
            
          <% if @book.user_id == current_user.id %>
            <td>
              <%= link_to edit_book_path do %>
				  	    <button type="button" class="btn btn-sm btn-success ">Edit</button>
				  	  <%end%>
				  	</td>
				  	<td>
				  	  <%= link_to book_path, method: :delete, data: { confirm: '削除しますか？' } do %>
					    <button type="button" class="btn btn-sm btn-danger">Destroy</button>
				  	  <%end%>
           </td>
           <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
